/* Lettertypes*/

@font-face {
    font-family: sketch-match;
    src: url(fonts/sketch-match.ttf);
}


/* bovenbalk */

.bovenbalk {
    width: 100%;
    height: 200px;
    background-color:  rgb(226, 117, 54);
    justify-content: flex-end;
    display: flex;
}

.go-canarias-logo{
    top: 6%;
    left: 4%;
    position: absolute;
    float: left;
}

.go-canarias-bovenbalk{
    top: 5%;
    left: 36%;
    font-family: sketch-match;
    z-index: 1;
    font-size: 100px;
    position: absolute;

} 

a.go-canarias-bovenbalk{
    text-decoration: none;
    color:white;
}

/* menu icon */

.menubalkjes {
  width: 70px;
  height: 10px;
  background-color: black;
  margin: 12px 0;
}

.menu{
    top: 7%;
    left:90%;
    position: absolute;
}

/*informatie*/

.info {
    text-align: justify;
    width: 800px;
    /*border: 2px black solid;*/
    margin: 0 auto;
    position: relative;
    float: left;
    left: 10%;

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* fuerteventura photo */

.fuerteventura-photo {
    float: right;

}